<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .error{
            color: magenta;
        }
    </style>
</head>
<body>
    
    <h1>Login Page</h1>
    <p class="error"><%= errorMessage %></p>

    <form action="/login" method="post">
        Username: <input name="user" type="text" /></br>
        Password: <input name="pass" type="text" /></br>
        <input type="submit" value="Login" /></br>
    </form>

</body>
</html>