<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
</head>
<body>


    <h3> Welcome <%= username %> </h3>
    <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th></th>
        </tr>
        <% results.forEach(function(result){ %>
            <tr>
                <form action="/welcome" method="post">
                <input type="hidden" name="Username" value= <%= username %> />
                <td> <input type="text" name="Item" value= <%= result.Item %> /> </td>
                <td> <input type="text" name="Price" value= <%= result.Price %> /> </td>
                <td> <input type="submit" value="Buy"> </td>
                </form>
            </tr>
        <% }) %>
      </table>
</body>
</html>